<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{data}}
    
    {% for data in data %}
        <table border="2px">
            <tr>
                <th>Title Name</th>
                <th>Title Description<th>
            </tr>
            <tr>
                <td>
                {{data.title}}
                </td>
                <td>
                    {{data.content}}
                </td>
            </tr>
        </table>
    {% endfor %}
        
</body>
</html>